<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrgImport.Properties.Settings.HRConnectionString"
            connectionString="Data Source=61.222.40.11;Initial Catalog=HOLYHRDB;Persist Security Info=True;User ID=jb;Password=jb4jb"
            providerName="System.Data.SqlClient" />
        <add name="OrgImport.Properties.Settings.FlowConnectionString"
            connectionString="Data Source=61.222.40.11;Initial Catalog=ezFlow;Persist Security Info=True;User ID=jb;Password=jb4jb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>