<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LaborEventLaw.Properties.Settings.JBHR2ConnectionString" connectionString="Data Source=192.168.1.24;Initial Catalog=JBHR2;Persist Security Info=True;User ID=jb;Password=46T_dh-6zZ" providerName="System.Data.SqlClient" />
    <!--<add name="LaborEventLaw.Properties.Settings.JBHR2ConnectionString" connectionString="Data Source=.\SQLEXPRESS2016;Initial Catalog=AZOTEKHR;Persist Security Info=True;User ID=jb;Password=JB8421" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--上班早到檢查分鐘數，預設15分鐘-->
    <add key="OnTimeBufferMins" value="15" />
    <!--下班晚退檢查分鐘數，預設15分鐘-->
    <add key="OffTimeBufferMins" value="15" />
    
    <!--模擬執行的時間起迄，需開始到結束皆合法才有作用，優先權高-->
    <!--模擬日期起-->
    <add key="beginDate" value="" />
    <!--模擬日期迄-->
    <add key="endDate" value="" />
    
    
    <!--如沒有模擬日期，將以執行日為基準，增減幾天，開始不可大於結束(如不合法則都已今日執行)，優先權低-->
    <add key="beginDayShift" value="-3" />
    <add key="endDayShift" value="0" />


    <!--篩選公司別，不填為全部，多個請用半形逗號分隔-->
    <add key="comp" value="" />
    <!--篩選員工號，不填為全部，多個請用半形逗號分隔-->
    <add key="emp" value="" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>