<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections></configSections>
   <connectionStrings>
      <add name="ezFlow.Properties.Settings.ezflowConnectionString"
         connectionString="uid=jb;initial catalog=ezFlow;data source=192.168.1.12;pwd=^Hsx9bu5t@;"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>