<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>

    </configSections>
    <connectionStrings>
        <add name="JBHR.Dll.Properties.Settings.JBHRConnectionString"
            connectionString="Data Source=.;Initial Catalog=ABLECOMHR;Persist Security Info=True;User ID=jb;Password=JB8421;"
            providerName="System.Data.SqlClient" />
        <add name="FlowManage.Properties.Settings.dbMainConnectionString"
            connectionString="Data Source=|DataDirectory|\dbMain.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FlowManage.Properties.Settings.Flow" connectionString="Data Source=.;Initial Catalog=ezFlow_ABLECOM;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
        <add name="FlowManage.Properties.Settings.HR" connectionString="Data Source=.;Initial Catalog=ABLECOMHR;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="JBHR.DLL.ConnectionString" value="JBHR.Dll.Properties.Settings.JBHRConnectionString"/>
    <!--計薪年月所需之每月日期-->
    <add key="DB_NAME" value="HighwealthHR"/>
    <add key="iSalaryDay" value="21" />
  </appSettings>
</configuration>