@charset "utf-8";
/* CSS Document */


.RadComboBox, .RadPicker, .RadInput {
	font-size: initial !important;
}

/*.RadComboBox, .RadPicker, .RadInput, .RadInput{
	width: 100% !important;
}*/


/* 下拉選單 */

	.RadComboBox .rcbDisabled {
		opacity: 1;
		background-color:#e8f6f3;
	}

.RadInputDisabled a, .RadInputDisabled .riTextBox {
	opacity: 1;
	background-color: #e8f6f3;
}


.RadComboBox_Bootstrap .rcbInner {
	width: 100%;
	border-color: #e5e6e7;
	color: #676A6C;
	border-radius: 0;
	box-shadow: none;
}
	
.RadComboBox_Bootstrap .rcbActionButton{
	border-color:#e5e6e7;
	color:#1ab394;
	}
	
.RadComboBox_Bootstrap .rcbFocused .rcbActionButton{
	background-color:#FFFFFF;
	color:#1ab394;
	border-color:#e5e6e7;
	}	
	
.RadComboBox_Bootstrap .rcbHovered .rcbActionButton{
	background-color:#FFFFFF;
	color:#1ab394;
	border-color:#e5e6e7;
	}
	

	
/* 下拉選單_hover */

.RadComboBox_Bootstrap .rcbHovered{
	border-color:#1ab394;
	color:#676A6C;
	}

.RadCombBox_Bootstrap .rcbHovered .rcbActionButton{
	border-color:#1ab394;
	color:#1ab394;
	background-color:#FFFFFF;
	}
	
	
	
/* 下拉選單_選項框 */
.RadComboBoxDropDown_Bootstrap{
	border-radius:0;
	box-shadow:0 0px 5px rgb(0 0 0 / 18%);
	}

	
		
/* 下拉選單_按下效果 */
.RadComboBox_Bootstrap .rcbFocused{
	border-color:#1ab394;
	}
	
.RadComboBox_Bootstrap .rcbActionButton{
	border-radius:0;
	}	

.RadComboBox_Bootstrap .rcbFocused .rcbActionButton{
	box-shadow:none;
	}	
	
.RadComboBox_Bootstrap .rcbExpanded .rcbActionButton{
	background-color:#FFFFFF;
	border-color:#e5e6e7;
	}
	
	


/* 請假類別選單 */
.RadComboBox_Bootstrap .rcbReadOnly.rcbExpanded, .RadComboBox_Bootstrap .rcbReadOnly.rcbFocused{
	background-color:#FFFFFF;
	border-color:#1ab349;
	box-shadow:none;
	}

.RadComboBox .rcbReadOnly .rcbActionButton, .RadComboBox .rcbReadOnly.rcbHovered .rcbActionButton, .RadComboBox .rcbReadOnly.rcbFocused .rcbActionButton, .RadComboBox .rcbReadOnly.rcbExpanded .rcbActionButton{
	color:#1ab394;
	}
	
	
/* 請假類別選單_Hover */
.RadComboBox_Bootstrap .rcbReadOnly.rcbHovered{
	border-color:#1ab394;
	background-color:#FFFFFF;
	color:#676A6C;
	} 

	
		
/* 日期、時間、原因、交辦事項_外框 */
.RadInput_Bootstrap .riTextBox, .RadInputMgr_Bootstrap{
	border-radius:0;
	}
	
.RadInput_Bootstrap a, .RadInput_Bootstrap.RadInputDisabled a:hover, .RadInput_Bootstrap.RadInputDisabled a:active{
	color:#1ab394;
	border-color:#e5e6e7;
	}
	
	
.RadInput_Bootstrap .riTextBox, .RadInput_Bootstrap .riSelect, .RadInput_Bootstrap .rcSelect, .RadInputMgr_Bootstrap{
	border-color:#e5e6e7;
	color:#676A6C;
	}
	


/* 日期、時間、原因、交辦事項_外框_按下效果 */
.RadInput_Bootstrap.RadInputHovered .riTextBox, 
.RadInput_Bootstrap.RadInputHovered .riSelect, .RadInput_Bootstrap.RadInputHovered .rcSelect, .RadInput_Hover_Default{
	border-color:#1ab394;
	color:#676A6C;
	}

.RadInput_Bootstrap.RadInputFocused .riTextBox, .RadInput_Bootstrap.RadInputFocused .riContentWrapper, .RadPicker_Bootstrap .RadInputFocused, .RadInput_Focused_Bootstrap{
	box-shadow:none;
	}
	
	
.RadInput_Bootstrap.RadInputFocused .riTextBox, .RadInput_Bootstrap.RadInputFocused .riSelect, .RadInput_Bootstrap.RadInputFocused .rcSelect, .RadInput_Focused_Bootstrap{
	border-color:#1ab394;
	color:#676A6C;
	}
	
.RadPicker_Bootstrap.rcCalPopupOpen .RadInput, .RadPicker_Bootstrap.rcMYPopupOpen .RadInput, .RadPicker_Bootstrap.rcTimePopupOpen .RadInput{
	border-color:#e5e6e7;
	}
	

/* 日期_Hover */
.RadInput_Bootstrap a:hover{
	background-color:#FFFFFF;
	color:#1ab394;
	border-color:#e5e6e7;
	}
	
	
/* 日曆icon_select */
.RadPicker_Bootstrap.rcCalPopupOpen .rcCalPopup, .RadPicker_Bootstrap.rcMYPopupOpen .rcCalPopup, .RadPicker_Bootstrap.rcTimePopupOpen .rcTimePopup{
	background-color:#FFFFFF;
	color:#1ab394;
	border-color:#e5e6e7;
	}
	
.RadPicker.rcCalPopupOpen .riTextBox, .RadPicker.rcCalPopupOpen .rcSelect, .RadPicker.rcMYPopupOpen .riTextBox, .RadPicker.rcMYPopupOpen .rcSelect, .RadPicker.rcTimePopupOpen .riTextBox, .RadPicker.rcTimePopupOpen .rcSelect{
	background-color:none;
	}


/* 日曆_彈出選擇日期面版 */	
.RadCalendar_Bootstrap .rcSelected a, .RadCalendar_Bootstrap .rcSelected span{
	border-color:none;
	background-color:#1ab394;
	}


/* cleckbox_對齊下拉、日曆_用於條件ibox*/	
.cleckbox_sy{
	padding-top:40px;
	}
			
	@media only screen and (min-width: 375px) and (max-width:480px){
		.cleckbox_sy{
			padding-top:18px;
			}
		}
			
/* 申請人資訊_系統代出資訊欄位 */

.form-control, .single-line{
	background-color:#e8f6f3;
	}
	

/* 流程檢視_checkBox */

.rbCheckBox, .rbRadioButton, .rbToggleButton {
	padding:2px 0;
}

.rbIconOnly {
	padding:2px;
}

/* 流程檢視_向下按鈕 */
.flow-item .flow-question:before, .flow-item .flow-question.collapsed:before {
	content: "-";
	color: #fff;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #ccc;
	border-radius: 3px;
	position: absolute;
	top: 0px;
	right: 19px;
}

.flow-item .flow-question.collapsed:before {
	content: "+";
	background-color: #179d82;
	line-height: 30px;
	color: #FFFFFF;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	top: 0px;
	right: 19px;
}

.flow-item {
	padding: 0px;
	margin-bottom: 2px;
	background: #fff;
	border-bottom: 1px solid #e7eaec;
	color:#676A6C;
}

@media screen and (max-width: 998px) {
	.flow-question {
		line-height: 22px;
		font-size: 17px;
		padding-right: 66px;
	}
}

.RadDropDownTree_Bootstrap .rddtInner{
	width: 100%;
	border-color: #e5e6e7;
	color: #676A6C;
	border-radius: 0;
	box-shadow: none;
}

/* 控制項RadInput Box本為斜體字，修改為主字體*/
.RadInput .riEmpty, .RadInput_Empty {
	font-style:normal;
}

Input {
	font-style:normal;
}
