<?xml version="1.0" encoding="utf-8"?>
<roles>
  <!--<add type="工號" role="HR">970378</add>-->
  <!--<add type="部門" role="MM">MFG-SA</add>-->
  <add type="工號" role="HR">318976</add>
  <add type="工號" role="HR">10201015</add>
  <add role="HR" type="工號">10100955</add>
  <add role="HR" type="工號">10100543</add>
  <add role="HR" type="工號">10100094</add>
  <add role="ADMIN" type="工號">10100029</add>
  <add role="ADMIN" type="工號">10100094</add>
  <add role="ADMIN" type="工號">10200007</add>
  <add role="HR" type="工號">10100029</add>
  <add role="HR" type="工號">10201398</add>
  <add role="NOBODY" type="工號"> </add>
</roles>