<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings />
   <connectionStrings>
      <add name="ezflowConnectionString" connectionString="uid=jb;initial catalog=ezFlow;data source=192.168.1.12;pwd=^Hsx9bu5t@;" providerName="System.Data.SqlClient" />
	   <!--<add name="ezflowConnectionString" connectionString="uid=tseng;initial catalog=ShinFoxezFlow;data source=.;pwd=Zzzz5555;" providerName="System.Data.SqlClient" />-->
   </connectionStrings>
   <system.web>
      <compilation debug="true" />
      <authentication mode="Windows" />
   </system.web>
</configuration>