<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FlowConnectionString" connectionString="Data Source=192.168.1.24;Initial Catalog=ezFlow_CHPT;Persist Security Info=True;User ID=jb;Password=JB8421" providerName="System.Data.SqlClient" />
    <add name="HrConnectionString" connectionString="Data Source=192.168.1.24;Initial Catalog=CHPTHR;Persist Security Info=True;User ID=jb;Password=JB8421" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="JBModule.Data.HrDBConnectionString" value="HrConnectionString" />
    <add key="localhost.Service" value="http://hr.jbjob.com.tw/ASML/ezFlow/ezEngine/Service.asmx" />
  </appSettings>
  <system.web>
    <machineKey validationKey="B606833F8AC0C76E8DB98441DD91C59FBB3F3FE1EA70C62DD38246AEBC55B59AAF494C1D9460AF6291AC25F2164A00BE01E2F12E07BD6962A15A0122A4051EF1" decryptionKey="157B52641D84D8E78960A5E88399F7B148A5CBBC2E75AA83A3D9656845F5F4A3" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 為避免中繼資料資訊洩漏，部署之前請將下面的值設定為 false，並移除上面的中繼資料端點-->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>