th{
	font-weight:600;
	font-family:微軟正黑體;
	}
	
.font-size_15{
	font-size:15px;
	}
	
	
.pd_17{
	padding-top:17px;
	}
	
/* 主管資訊 */

.icon_c{
	color:#b8d0d1;
	}
	
.text_c{
	color:#6f7e7e;
	}

	
/* 餘假資訊 */

.ibox-tools_icon {
    display: block;
    float: none;
    margin-top: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    text-align: right;
	}

.ibox-tools_icon a{
	cursor: pointer;
     margin-left: 5px;
    color: #ffffff !important;
	}
	
		
/* 異常資訊 */

.text_gray{
	color:#d1d1d1;
	}


/* 加班時數 */

#hour .ibox-content h1{
	margin-top:0;
	}


	
/* 公告欄 */

.ibox-title_sy3 {
    background-color: #848a8f;
    border-color: #848a8f;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px;
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 15px 90px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 2px 2px 0 0;
	}
	
.ibox-title_sy3 h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: none;
	}
	
.ibox-content_sy3 {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #848a8f;
    border-image: none;
    border-style: solid;
    border-width: 1px;
	}

table tbody{
	color:#676A6C;
	}
	
	
/* 待簽核_圓餅圖*/
.flot-chart-pie-content{
	width: 160px;
    height: 160px;
	}
	
.flot-chart{
	height:146px;
	}

/* 加班_圓餅圖*/
canvas{
	width:145px !important;
	height:145px !important;
}

