/*
   2013年10月16日下午 02:55:10
   使用者: 
   伺服器: SHINGO-PC
   資料庫: HOLYHRDB
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_YRINSUR
	(
	AUTO int NOT NULL IDENTITY (1, 1),
	YEAR nvarchar(50) NOT NULL,
	NOBR nvarchar(50) NOT NULL,
	FA_IDNO nvarchar(50) NOT NULL,
	REL_LAB decimal(16, 2) NOT NULL,
	REL_HEL decimal(16, 2) NOT NULL,
	REL_GRP decimal(16, 2) NOT NULL,
	KEY_MAN nvarchar(50) NOT NULL,
	KEY_DATE datetime NOT NULL,
	EQUAL bit NOT NULL,
	SALADR nvarchar(50) NULL,
	REL_SUP decimal(16, 2) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_YRINSUR SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_YRINSUR OFF
GO
IF EXISTS(SELECT * FROM dbo.YRINSUR)
	 EXEC('INSERT INTO dbo.Tmp_YRINSUR (YEAR, NOBR, FA_IDNO, REL_LAB, REL_HEL, REL_GRP, KEY_MAN, KEY_DATE, EQUAL, SALADR, REL_SUP)
		SELECT YEAR, NOBR, FA_IDNO, REL_LAB, REL_HEL, REL_GRP, KEY_MAN, KEY_DATE, EQUAL, SALADR, REL_SUP FROM dbo.YRINSUR WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.YRINSUR
GO
EXECUTE sp_rename N'dbo.Tmp_YRINSUR', N'YRINSUR', 'OBJECT' 
GO
ALTER TABLE dbo.YRINSUR ADD CONSTRAINT
	PK_YRINSUR PRIMARY KEY CLUSTERED 
	(
	AUTO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
