/*
   2014年1月4日下午 08:27:52
   使用者: 
   伺服器: SHINGO-PC
   資料庫: ASMLHR
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.WELF
	DROP CONSTRAINT DF_WELF_D_AMT
GO
ALTER TABLE dbo.WELF
	DROP CONSTRAINT DF_WELF_FORMAT
GO
ALTER TABLE dbo.WELF
	DROP CONSTRAINT DF_WELF_TR_TYPE
GO
ALTER TABLE dbo.WELF
	DROP CONSTRAINT DF_WELF_SALADR
GO
CREATE TABLE dbo.Tmp_WELF
	(
	NOBR nvarchar(50) NOT NULL,
	YYMM nvarchar(50) NOT NULL,
	SEQ nvarchar(50) NOT NULL,
	SAL_CODE nvarchar(50) NOT NULL,
	AMT decimal(16, 2) NOT NULL,
	D_AMT decimal(16, 2) NOT NULL,
	KEY_MAN nvarchar(50) NOT NULL,
	KEY_DATE datetime NOT NULL,
	FORMAT nvarchar(50) NOT NULL,
	TR_TYPE nvarchar(50) NOT NULL,
	SALADR nvarchar(50) NOT NULL,
	AUTO int NOT NULL IDENTITY (1, 1)
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_WELF SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_WELF ADD CONSTRAINT
	DF_WELF_D_AMT DEFAULT ((0)) FOR D_AMT
GO
ALTER TABLE dbo.Tmp_WELF ADD CONSTRAINT
	DF_WELF_FORMAT DEFAULT ('') FOR FORMAT
GO
ALTER TABLE dbo.Tmp_WELF ADD CONSTRAINT
	DF_WELF_TR_TYPE DEFAULT ('') FOR TR_TYPE
GO
ALTER TABLE dbo.Tmp_WELF ADD CONSTRAINT
	DF_WELF_SALADR DEFAULT ('') FOR SALADR
GO
SET IDENTITY_INSERT dbo.Tmp_WELF OFF
GO
IF EXISTS(SELECT * FROM dbo.WELF)
	 EXEC('INSERT INTO dbo.Tmp_WELF (NOBR, YYMM, SEQ, SAL_CODE, AMT, D_AMT, KEY_MAN, KEY_DATE, FORMAT, TR_TYPE, SALADR)
		SELECT NOBR, YYMM, SEQ, SAL_CODE, AMT, D_AMT, KEY_MAN, KEY_DATE, FORMAT, TR_TYPE, SALADR FROM dbo.WELF WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.WELF
GO
EXECUTE sp_rename N'dbo.Tmp_WELF', N'WELF', 'OBJECT' 
GO
ALTER TABLE dbo.WELF ADD CONSTRAINT
	PK_WELF PRIMARY KEY CLUSTERED 
	(
	AUTO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
