/*
   2020年10月5日下午 02:35:35
   使用者: jb
   伺服器: 192.168.1.12
   資料庫: PROD
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LARCODE ADD
	NOFUND bit NOT NULL CONSTRAINT DF_LARCODE_NOFUND DEFAULT 0
GO
ALTER TABLE dbo.LARCODE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
