/****** Object:  UserDefinedFunction [dbo].[UserReadDataGroupList]    Script Date: 2021/5/19 下午 03:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[UserReadDataGroupList](@userid nvarchar(50),@comp nvarchar(50),@admin bit)
returns @Table Table(
DATAGROUP nvarchar(50)
)
as
begin   
    INSERT INTO @Table  
    select Distinct b.DATAGROUP from U_DATAGROUP b where b.user_id=@userid and b.COMPANY=@comp and b.READRULE=1
    INSERT INTO @Table  
    select Distinct b.DATAGROUP from COMP_DATAGROUP b where (COMP=@comp or @comp='JB-TRANSCARD') and @admin=1
	
    RETURN
end
