<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="RecentConnection" value="CHPT_Local" />
    </appSettings>
    <connectionStrings>
        <add name="CHPT_Local" connectionString="Data Source=01B50E0655AE253C;Initial Catalog=769EA09F3008D867;Persist Security Info=True;User ID=3B1EE876FE4F889E;Password=C89B2EAD6BF0B9D3" />
    </connectionStrings>
</configuration>