<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections></configSections>
   <connectionStrings>
      <add name="ezFlow.Properties.Settings.ezflowConnectionString" connectionString="uid=sa;data source=.\sql2000;initial catalog=ezflow35;pwd=;" providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>