body {
}
.StaticMenuItemStyle
{

			display:block;
			color:#333333;
			width:77px;
			text-align:center;
			padding:5px 0 5px 0;
			border-top:3px solid #c5cdd8;
			border-bottom:3px solid #c5cdd8;
			font-weight:bold;
}
/*td
{
  border:1px solid #DC006B;
  color:#A0004E;
}

table
{
  border:1px solid #DC006B;
  color:#A0004E;
}
h4
{
    color:#A0004E;
}

ul
{
     border:1px solid #DC006B;
     color:#A0004E;
}*/
