@charset "utf-8";
/* CSS Document */

.k-pdf-export, .k-pdf-export * {
    font-family: 'Arial Unicode MS' !important;
}

.ListViewRow {
    float: left;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.ListViewArticleUserSellRow {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.Ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.dragRangeSlider .rslSelectedregion {
    cursor: pointer;
}

.infoContainer {
    margin-top: 1em;
}

.StatementContent {
    height: 400px !important;
}

.NoteContent {
    height: 200px !important;
}

.TextNoBorder {
    border: 0 !important;
    text-align: left !important;
    background: transparent !important;
}

.TextNoBorderRight {
    border: 0 !important;
    text-align: right !important;
    background: transparent !important;
}

/* 可分配獎金的數字,加在input的class */
.spacing {
    margin-bottom: 0.5rem;
    padding: 0;
}

/* 評核總分的箭頭按鈕,加在每一個col-sm-4 */
.spacing2 {
    padding: 6px 25px 0 0;
}

/* 評核總分的箭頭按鈕,加在每一個col-sm-8 */
.spacing3 {
    padding: 0px 8px 0 0;
}
