<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings />
   <connectionStrings>
      <add name="ezflowConnectionString" connectionString="uid=jb;initial catalog=ezFlow_CHPT;data source=192.168.1.24;pwd=JB8421;" providerName="System.Data.SqlClient" />
   </connectionStrings>
   <system.web>
      <compilation debug="true" />
      <authentication mode="Windows" />
   </system.web>
</configuration>