<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ezOrg.Properties.Settings.ezflowConnectionString"
            connectionString="Data Source=.;Initial Catalog=ezFlow_TMT;User ID=sa;password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>