/*
body{
			font-size:10pt;
			font-family: 微軟正黑體;
			color:#005AAA;
}
*/
#big{
			border:1px gray solid;
			width:1000px;
			margin:0 auto;
}
#big a{
			color:#005AAA;
			text-decoration:none;
}
#header{
			background-image:url('../App_Themes/Formosa/Images/header.jpg');
			height:110px;
}
#menu{
			background-color:#E8E8E8;
			width:200px;
			float:left;
			margin:10px 0 0 0;
}
#menu h4{
			background-color:#78AEFF;
			padding:5px;
			color:#ffffff;
			margin:0;
}
#menu ul{
			line-height:30px;
}
#menu li{
			list-style-type:none;			
}
.infoR{
			width:820px;
			float:right;
}
.infoR h4{
			background-color:#CCFFE5;
			color:#339966;
			padding:5px;
			margin:10px 0 0 0;
}






