<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="JBHR.Properties.Settings.JBHRConnectionString" connectionString="Data Source=192.168.1.12;Initial Catalog=standardfoodshr;Persist Security Info=True;User ID=jb;Password=JB8421" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CheckMonthInterval" value="3"/>
    <add key="CheckPreviousMonthInterval" value="3"/>
    <add key="JBModule.Data.HrDBConnectionString" value="JBHR.Properties.Settings.JBHRConnectionString"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
