<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JBModule.Data.Properties.Settings.FEFCHR_DConnectionString" connectionString="Data Source=192.168.1.12;Initial Catalog=HISSHR;Persist Security Info=True;User ID=jb;Password=^Hsx9bu5t@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="JBModule.Data.HrDBConnectionString" value="JBModule.Data.Properties.Settings.FEFCHR_DConnectionString"/>
    <add key="JBHR.DLL.ConnectionString" value="JBModule.Data.Properties.Settings.FEFCHR_DConnectionString"/>
    <add key="CardSetting" value="1"/>
    <add key="KeyMan" value="JB"/>
    <add key="CardDate_Pattern" value="yyyyMMdd"/>
    <add key="CardTime_Pattern" value="HHmm"/>
    <!--<add key="Path" value="Z:\STR100_DATA\"/>-->
    <add key="CardGetPreDays" value="30"/>
    <add key="SourceBlackList" value=""/>
    <add key="SourceFoodCardList" value="100,200,300,400,500,600,700,800,900"/>
    <add key="RunAttendGenerate" value="true"/>
    <!--<add key="Path" value=""/>-->
  </appSettings>
  
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
