/*<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>*/
body 
{
		color:#666666;
		font-size:10pt;
		font-family: 微軟正黑體;
		margin:0;

}
#title1{
	background-image:url('Images/eTraining/mainTitle_chpt.png');
	height:235px;
	text-align:right;
	color:White;
	font-weight:bold;
	margin:0;
}
.tableOrange{
		border-collapse:collapse;
		border:1px solid #FFCA5E;
}
.tableOrange th{
		background-image:url('Images/OgTh2.png');
		background-repeat:repeat-x;
		height:18px;
		padding:1px 0 1px 0;
		border-right:1px solid #FCF1D4;
		font-weight:bold;
		color:#ffffff;
		}
.tableOrange td{
		border-top:1px solid #FFCA5E;
		border-right:1px solid #DDDDDD;
		height:30px;	
}
.tableOrangeFoot td{
		background-color:#FFF5EB;
		height:30px;
		text-align:center;
	
}
.tableBlue
{
		color:#666666;
		font-size:10pt;
		font-family: 微軟正黑體;

}
.tableBlue th{
		padding:1px 0 1px 0;
		border-right:1px solid #FCF1D4;
		font-weight:bold;
		color:#ffffff;
		background-color:#A2B8D0;
		line-height:25px;
		font-size:12pt;
		}


/*控制TextBox*/
.txtBoxLine
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;

}
.txtCode
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;
	width: 80px;
}
.txtPath
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;
	width: 95%;
}
.txtDateTime
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;
	width: 160px;
}
.txtDate
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;
	width: 70px;
}
.txtTime
{
	border-top-style: none;
	border-bottom: 1px solid #666666;
	border-right-style: none;
	border-left-style: none;
	width: 30px;
}
/*控制Button*/
.Button1
{
	font-size: 10pt;
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
	color: #333333;
	font-weight: bold;
	padding: 1px;
	margin: 0;
}
.span
{
			background-color:#ffffff;
			height:10px;
			width:200px;
			display:block;
}

.block h2
{
	background-color: #78AEFF;
	padding: 5px;
	color: #ffffff;
	margin: 0 0 10px 0;
}

.default li
{
	list-style-type:none;
	height:30px;
	font-size:12pt;
}
.default h3{
	/*background-color:#668BB2;*/
	background-color:#CCCCCC;
	color:white;
	padding:5px 0 5px 0;
	margin:0;
	/*background-image:url('Images/eTraining/book_edit.png');
	background-repeat:no-repeat;*/
	
}
	background-color:#CCCCCC;
	color:white;
	padding:5px 0 5px 0;
	margin:0;
	/*background-image:url('Images/eTraining/book_edit.png');
	background-repeat:no-repeat;*/
	
}
.default div
{
	border:1px #CCCCCC solid;
	/*border:1px #668BB2 solid;*/
	/*background-color:#F2F5F8;*/
}
.Notify h2
{
	background-image:url('Images/eTraining/book_edit.png');
	background-repeat:no-repeat;
	margin:1px;
}
.ApplyCourse h2
{
	
	background-image:url('Images/eTraining/blackboard_steps.png');
	background-repeat:no-repeat;
	margin:1px;
}
.ErrorMsg h2
{
	
	background-image:url('Images/eTraining/screen_32.png');
	background-repeat:no-repeat;
	margin:1px;
}

.HRErrorMsg h2
{
	
	background-image:url('Images/eTraining/message-error.png');
	background-repeat:no-repeat;
	margin:1px;
}


.Plan h3
{
	background-image:url('Images/eTraining/calendar.png');
	background-repeat:no-repeat;
}
.Design h3
{
	background-image:url('Images/eTraining/bell.png');
	background-repeat:no-repeat;
}
.OJT h3
{
	background-image:url('Images/eTraining/text_document_wrap.png');
	background-repeat:no-repeat;
}
.PersonalF h3
{
	background-image:url('Images/eTraining/user_green.png');
	background-repeat:no-repeat;
}
.ManagerF h3
{
	background-image:url('Images/eTraining/ceo.png');
	background-repeat:no-repeat;
}  
.AssistantF h3
{
	background-image:url('Images/eTraining/user_red.png');
	background-repeat:no-repeat;
}
.TeacherF h3
{
	background-image:url('Images/eTraining/user_zorro.png');
	background-repeat:no-repeat;
}
.tbGreen
{
	font-size:12pt;
	padding:2px;
	text-align:center;
}
.tbGreen th
{
	background-color:#CAE4E4;
	font-weight:bold;
}
.tbGreen td
{
	color:#333333;
}
.add
{
	background-image:url('Images/eTraining/user_zorro.png');
	background-repeat:no-repeat;
}

.field{
	/*float:right;*/
	width:250px;
}

.field ul{
   list-style-type:none;
   line-height:30px;
   /*margin:8px 1px 4px 1px;*/
   margin:0;

}

.field fieldset{
	border:1px #007AFA solid;
	/*height:50px;*/
	/*background-color:#EBF5FF;*/
}
.field legend{
	color:#006BDC;
	font-size:10pt;
	font-weight:bold;
}

.lineHeight
{
	line-height: 20px;
}
