body{
		font-size:10pt;
		font-family: 微軟正黑體;
		color:#005AAA;
	text-align: left;
}

#title{	/*標題*/
			
			background-image:url('Images/eLearning/bg-header1.png');
			height:140px;	
			text-align:right;		
}
#title a{
			color:#ffffff;
			text-decoration:none;
}
#title a:hover{
				color:#CCCCCC;
}
#menu{
			display:block;
}
#menu ul{	/*主功能列*/
			margin:0;
			padding:0;
}
#menu li{
			float:left;
			width:77px;
			list-style-type:none;	
}
#menu a{
			text-decoration:none;
			display:block;
			color:#333333;
			width:77px;
			text-align:center;
			padding:5px 0 5px 0;
			border-top:3px solid #c5cdd8;
			border-bottom:3px solid #c5cdd8;
			font-weight:bold;
}

#menu a:hover{
			color:#FFFFFF;
			background:#005AAA;
			display:block;
			font-weight:bold;
			border-top:3px solid #c5cdd8;
			border-bottom:3px solid #c5cdd8;
			text-decoration:none;				
}
#login{	/*學員登入*/
			background-image:url('Images/eLearning/22.png');
			background-repeat:repeat-y;
			float:left;
			width:170px;
			margin:10px 10px 10px 0;
			
}
#login h4.header{
			background-image:url('Images/eLearning/11.png');
			color:#ffffff;
			text-align:center;
			height:10px;
			padding:5px 0 0 0px;
			margin:0;
}
#login h4.footer{
			background-image:url('Images/eLearning/33.png');
			height:15px;
			margin:0;
			
}
#login ul{
			margin-left:25px;	
			list-style-type:none;
			padding:10px 0 0 10px;
}

#login li.a{/*榮譽排行榜no1*/
			list-style-image:url('Images/eLearning/onebit_10.png');
}
#login li.b{/*榮譽排行榜no2*/
			list-style-image:url('Images/eLearning/onebit_07.png');
}
#login li.c{/*榮譽排行榜no3*/
			list-style-image:url('Images/eLearning/onebit_09.png');
}
#login li.d{/*訪客人數圖*/
			list-style-image:url('Images/eLearning/onebit_15.png');
}
#news li.e{/*講座活動圖1*/
			background-image:url('Images/eLearning/actp1.bmp');
			background-repeat:no-repeat;			
			height:80px;
}
#news li.f{/*講座活動圖2*/
			background-image:url('Images/eLearning/actp2.bmp');
			background-repeat:no-repeat;
			height:80px;
}
#news td.e1{/*講座活動圖1*/
			background-image:url('Images/eLearning/actp1.bmp');
			background-repeat:no-repeat;			
			height:80px;
}
#news td.f1{/*講座活動圖2*/
			background-image:url('Images/eLearning/actp2.bmp');
			background-repeat:no-repeat;
			height:80px;
}
#news td.g{/*play*/
			background-image:url('Images/eLearning/play.png');
			background-repeat:no-repeat;	
}
#news td.h{/*star*/
			background-image:url('Images/eLearning/star.png');
}


#login a{
			text-decoration:none;
			color:#005AAA;
			display:block;
			padding:3px 0 3px 0;
			
}
#login a:hover{
			background-color:#68d6ef;
			color:#FFFFFF;
}

#rr{
			background-image:url('Images/eLearning/2.2.gif');
			background-repeat:repeat-y;
}
#rr h4.header{
			text-align:center;
			font-size:12pt;
			color:#000099;
			padding:5px 0 0 0;
			height:16px;
			background-image:url('Images/eLearning/2.1.gif');
			margin:0;
}
#rr h4.footer{
			background-image:url('Images/eLearning/2.3.gif');
			height:15px;
}

#main{
			display:block;
			width:575px;
			float:right;
}
#main h4{
			background-color:#bee3db;
			padding:5px;
			color:#ffffff;
			border-left:10px #ccd1d8 solid;
			margin:10px 0 0 0;	
}
#main li{
			border-bottom:1px dashed #B4E1E1;
			padding:5px 0 3px 0;
}
#main a{
			color:#005AAA;
}
#news{
			display:block;
			width:575px;
			float:right;
			background-image:url('Images/eLearning/c2.png');
			background-repeat:repeat-y;
}

#news li{
			border-bottom:1px dashed #B4E1E1;
			padding:5px 0 3px 0;
}
#news a{
			text-decoration:none;
			color:#005AAA;
}
#news a:hover{
			text-decoration:underline;
}
#news h4{
			background-color:#0f5cc4;
			padding:5px;
			color:#ffffff;
			border-left:10px #ccd1d8 solid;
			margin:0;	
			font-size:12pt;
}

#news h4.header{
			background-image:url('Images/eLearning/cc1.png');
			padding:5px;
			height:20px;
			margin:0;
			font-size:14pt;
			color:#ffffff;
}
#news h4.footer{
			background-image:url('Images/eLearning/c3.png');
			margin:0;
			height:30px;
}
#news h4.lheader{
			background-image:url('Images/eLearning/dd.png');
			margin:0;
			padding:5px;
			height:20px;
			font-size:14pt;
			color:#ffffff;
}
#down{
			float:left;
			width:770px;
			background-image:url('Images/eLearning/bg-footer1.png');
			height:70px;
			text-align:center;		
}
#down a{
			text-decoration:none;
			color:#666666;
}
#down a:hover{
			color:#005aaa;/*#91C7FF;*/
}

img{
			border:none;
}

table.Basic td
{
	border:1px solid black;    
}
able.Basic 
{
	border:1px solid black;    
}








