<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ezFlow.Properties.Settings.ezflowConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=ezFlow_CHPT;User ID=jb;password=JB8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>