.RadButton_MyCustomSkin.rbButton, .RadButton_MyCustomSkin.rbButton.rbDisabled,
.RadButton_MyCustomSkin .rbSplitPart {
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(white, #e6e6e6); }

.RadButton_MyCustomSkin.rbButton.rbHovered, .RadButton_MyCustomSkin.rbButton.rbToggled.rbHovered,
.RadButton_MyCustomSkin.rbButton .rbHovered {
  border-color: darkgray;
  color: #000000;
  background-color: #c2c2c2;
  background-image: linear-gradient(gainsboro, #c2c2c2); }

.RadButton_MyCustomSkin.rbButton:focus {
  box-shadow: inset 0 0 5px rgba(103, 103, 103, 0.5); }

.RadButton_MyCustomSkin.rbButton.rbSelected, .RadButton_MyCustomSkin.rbButton.rbToggled,
.RadButton_MyCustomSkin.rbSelected .rbHovered {
  border-color: #676767;
  color: #ffffff;
  background-color: #808080;
  background-image: linear-gradient(#9a9a9a, #808080); }

.RadButton_MyCustomSkin.rbButton:hover,
.RadButton_MyCustomSkin.rbButton.rbHovered .rbSplitPart {
  border-color: darkgray; }

.RadButton_MyCustomSkin.rbButton.rbSelected,
.RadButton_MyCustomSkin.rbButton.rbSelected:active .rbSplitPart {
  border-color: #676767; }

.RadButton_MyCustomSkin.rbCheckBox .rbText,
.RadButton_MyCustomSkin.rbRadioButton .rbText,
.RadButton_MyCustomSkin.rbToggleButton .rbText {
  color: #333333; }

.RadButton_MyCustomSkin .rbToggleCheckboxChecked,
.RadButton_MyCustomSkin .rbToggleCheckboxFilled,
.RadButton_MyCustomSkin .rbToggleRadioChecked {
  color: #1976d2; }

.RadButton_MyCustomSkin.rbHovered .rbToggleCheckboxChecked,
.RadButton_MyCustomSkin.rbHovered .rbToggleCheckboxFilled,
.RadButton_MyCustomSkin.rbHovered .rbToggleRadioChecked {
  color: #11508e; }

.RadButton_MyCustomSkin:focus .rbToggleCheckbox:before,
.RadButton_MyCustomSkin:focus .rbToggleRadio:before {
  box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.5); }

.RadButton_MyCustomSkin:focus .rbToggleCheckboxChecked:before,
.RadButton_MyCustomSkin:focus .rbToggleCheckboxFilled:before,
.RadButton_MyCustomSkin:focus .rbToggleRadioChecked:before {
  box-shadow: 0 0 1px 1px rgba(25, 118, 210, 0.5); }

.RadButton_MyCustomSkin.rbPrimaryButton {
  border-color: #1667b7;
  color: #ffffff;
  background-color: #1976d2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
  .RadButton_MyCustomSkin.rbPrimaryButton.rbHovered, .RadButton_MyCustomSkin.rbPrimaryButton.rbToggled.rbHovered, .RadButton_MyCustomSkin.rbPrimaryButton.rbFocused {
    border-color: #12579b;
    color: #ffffff;
    background-color: #1667b7;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    box-shadow: none; }
  .RadButton_MyCustomSkin.rbPrimaryButton.rbSelected, .RadButton_MyCustomSkin.rbPrimaryButton.rbToggled {
    border-color: #0f4880;
    color: #ffffff;
    background-color: #12579b;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

.RadButton_MyCustomSkin.rbPrimaryButton.rbDisabled {
  border-color: #1667b7;
  color: #ffffff;
  background-color: #1976d2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

