/*GridViewCSS.Yahoo Style*/
.YahooGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:x-small;
    table-layout: auto;
    border-collapse: collapse;
    border:#91a7b4 1px solid;
}
/*Header and Pager styles*/
.YahooHeaderStyle, .YahooPagerStyle /*Common Styles*/
{
    background-image: url(Images/YahooSprite.gif);
    background-position:top;
    background-repeat:repeat-x;
    background-color:#d1dbe0;
}
.YahooHeaderStyle th
{
    padding: 5px;
    color: #16387c;
}
.YahooHeaderStyle a
{
    text-decoration:none;
    color:#16387c;
    display:block;
    text-align:left;
    font-weight:normal;
}
.YahooPagerStyle table
{
    text-align:center;
    margin:auto;
}
.YahooPagerStyle table td
{
    border:0px;
    padding:5px;
   
}
.YahooPagerStyle td
{
    border-top: #91a7b4 1px solid;
      
}
.YahooPagerStyle a
{
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #fff;
    border-right:solid 1px #91a7b4;
    border-bottom:solid 1px #91a7b4;
    border-left:solid 1px #fff;
     font-size:x-small;
    
}
.YahooPagerStyle span
{
    font-weight:bold;
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    
}
/*RowStyles*/
.YahooRowStyle td, .YahooAltRowStyle td, .YahooSelectedRowStyle td, .YahooEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #91a7b4;
     font-size:small;
}
.YahooRowStyle td
{
    background-color: #f1f5f6;
}
.YahooAltRowStyle td
{
    background-color: #9ab2ca;
	background-image: url(Images/YahooSprite.gif);
    background-position:0 -80px;
    background-repeat:repeat-x;
}
.YahooSelectedRowStyle td
{
    background-color: #fcb814;
	background-image: url(Images/YahooSprite.gif);
    background-position:center;
    background-repeat:repeat-x;
}


/*GridViewCSS White Chrome Style*/
.WhiteChromeGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:#999999 1px solid;
}
/*Header and Pager styles*/
.WhiteChromeHeaderStyle, .WhiteChromePagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderWhiteChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#fff;
	border-bottom:solid 1px #999;
}
.WhiteChromeHeaderStyle th
{
    padding: 5px;
    color: #333;
}
.WhiteChromeHeaderStyle a
{
    text-decoration:none;
    color:#333;
    display:block;
    text-align:left;
    font-weight:normal;
}
.WhiteChromePagerStyle table
{
    text-align:center;
    margin:auto;
}
.WhiteChromePagerStyle table td
{
    border:0px;
    padding:5px;
}
.WhiteChromePagerStyle td
{
    border-top: #999999 1px solid;
}
.WhiteChromePagerStyle a
{
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #fff;
    border-right:solid 1px #999;
    border-bottom:solid 1px #999;
    border-left:solid 1px #fff;
}
.WhiteChromePagerStyle span
{
    font-weight:bold;
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.WhiteChromeRowStyle td, .WhiteChromeAltRowStyle td, .WhiteChromeSelectedRowStyle td, .WhiteChromeEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #999;
}
.WhiteChromeRowStyle td
{
    background-color:#E4E4E4;
}
.WhiteChromeAltRowStyle td
{
    background-color: #fff;
}
.WhiteChromeSelectedRowStyle td
{
    background-color:#FF9;
}



/*=========================================================================================================================*/
/*GridViewCSS Soft Grey Style*/
.SoftGreyGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:#444 1px solid;
}
/*Header and Pager styles*/
.SoftGreyHeaderStyle, .SoftGreyPagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderSoftGrey.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
}
.SoftGreyHeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.SoftGreyHeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.SoftGreyPagerStyle table
{
    text-align:center;
    margin:auto;
}
.SoftGreyPagerStyle table td
{
    border:0px;
    padding:5px;
}
.SoftGreyPagerStyle td
{
    border-top: #1d1d1d 1px solid;
}
.SoftGreyPagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.SoftGreyPagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.SoftGreyRowStyle td, .SoftGreyAltRowStyle td, .SoftGreySelectedRowStyle td, .SoftGreyEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.SoftGreyRowStyle td
{
    background-color: #c9c9c9;
}
.SoftGreyAltRowStyle td
{
    background-color: #f0f0f0;
}
.SoftGreySelectedRowStyle td
{
    background-color: #ffff66;
}


/*=========================================================================================================================*/
/*GridViewCSS Glass Black Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 5px solid;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderGlassBlack.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
}
.HeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #1d1d1d 3px solid;
}
.PagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.PagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.RowStyle td
{
    background-color: #c9c9c9;
}
.AltRowStyle td
{
    background-color: #f0f0f0;
}
.SelectedRowStyle td
{
    background-color: #ffff66;
}



/*GridViewCSS Gamer Style*/
.GamerGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 1px solid;
}
/*Header and Pager styles*/
.GamerHeaderStyle
{
    background-image: url(Images/HeaderGamer_left.jpg);
    background-position:left;
    background-repeat:repeat-x;
    height:30px;
}
.GamerPagerStyle
{
    background-image: url(Images/PagerGamer.jpg);
    background-position:bottom;
    background-repeat:repeat-x;
	background-color:#000;
}
.GamerHeaderStyle th
{
    padding: 0px;
    color: #ffffff;
}
.GamerHeaderStyle a:link, .GamerHeaderStyle a:visited
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
    border-left:solid 1px #666666;
    border-right:solid 1px #1d1d1d;
    padding-top:25px;
    padding-bottom:9px;
    padding-right:5px;
    padding-left:5px;
    background-image: url(Images/HeaderGamer.jpg);
    background-position:top;
    background-repeat:repeat-x;
}
.GamerHeaderStyle a:hover
{
    background-image: url(Images/HeaderGamer_Hover.jpg);
    background-position:top;
    background-repeat:repeat-x;
}
.GamerPagerStyle table
{
    text-align:center;
    margin:auto;
}
.GamerPagerStyle table td
{
    border:0px;
    padding:5px;/*padding around pager numbers */
}
.GamerPagerStyle td
{
    border-top: #1d1d1d 1px solid;/*top border of pager*/
    height:40px;
}
.GamerPagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    /*border around pager numbers*/
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.GamerPagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.GamerRowStyle td, .GamerAltRowStyle td, .GamerSelectedRowStyle td, .GamerEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.GamerRowStyle td
{
    background-color: #333333;
    color: #ffffff;
}
.GamerAltRowStyle td
{
    background-color: #1d1d1d;
    color:#ffffff;
}
.GamerSelectedRowStyle td
{
    background-color: #ffff66;
}


/*GridViewCSS Chrome Style*/
.ChromeGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:#666 2px solid;
}
/*Header and Pager styles*/
.ChromeHeaderStyle, .ChromePagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
	border-bottom: #1d1d1d 1px solid;
}
.ChromeHeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.ChromeHeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.ChromePagerStyle table
{
    text-align:center;
    margin:auto;
}
.ChromePagerStyle table td
{
    border:0px;
    padding:5px;
}
.ChromePagerStyle td
{
    border-top: #1d1d1d 1px solid;
}
.ChromePagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.ChromePagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.ChromeRowStyle td, .ChromeAltRowStyle td, .ChromeSelectedRowStyle td, .ChromeEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.ChromeRowStyle td
{
    background-color: #c9c9c9;
}
.ChromeAltRowStyle td
{
    background-color: #f0f0f0;
}
.ChromeSelectedRowStyle td
{
    background-color: #ffff66;
}


/*GridViewCSS ChromeBlack Style*/
.ChromeBlackGridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 5px solid;
}
/*Header and Pager styles*/
.ChromeBlackHeaderStyle, .ChromeBlackPagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderChromeBlack.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
}
.ChromeBlackHeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.ChromeBlackHeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.ChromeBlackPagerStyle table
{
    text-align:center;
    margin:auto;
}
.ChromeBlackPagerStyle table td
{
    border:0px;
    padding:5px;
}
.ChromeBlackPagerStyle td
{
    border-top: #1d1d1d 3px solid;
}
.ChromeBlackPagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.ChromeBlackPagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.ChromeBlackRowStyle td, .ChromeBlackAltRowStyle td, .ChromeBlackSelectedRowStyle td, .ChromeBlackEditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.ChromeBlackRowStyle td
{
    background-color: #c9c9c9;
}
.ChromeBlackAltRowStyle td
{
    background-color: #f0f0f0;
}
.ChromeBlackSelectedRowStyle td
{
    background-color: #ffff66;
}