/*
   2013年8月15日下午 12:01:03
   使用者: jb
   伺服器: jb-vsts
   資料庫: JB_eTraining
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.CoursePlanDetail
	(
	Id int NOT NULL IDENTITY (1, 1),
	ClassAutoKey int NOT NULL,
	PlanDetailOrder int NOT NULL,
	PlanDetailName nvarchar(MAX) NOT NULL,
	PlanDetailOutline nvarchar(MAX) NOT NULL,
	PlanDetailTimeMin int NOT NULL,
	PlanDetailNote nvarchar(MAX) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.CoursePlanDetail ADD CONSTRAINT
	DF_CoursePlanDetail_PlanDetailOrder DEFAULT 1 FOR PlanDetailOrder
GO
ALTER TABLE dbo.CoursePlanDetail ADD CONSTRAINT
	DF_CoursePlanDetail_PlanDetailTimeMin DEFAULT 0 FOR PlanDetailTimeMin
GO
ALTER TABLE dbo.CoursePlanDetail ADD CONSTRAINT
	PK_CoursePlanDetail PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CoursePlanDetail SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CoursePlanDetail', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CoursePlanDetail', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CoursePlanDetail', 'Object', 'CONTROL') as Contr_Per 