/*
   2013年4月22日下午 11:04:37
   使用者: jb
   伺服器: KUKOC-PC\SQL2012
   資料庫: NYLOKHR_eTraining
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.sysRole ADD
	IsAdminRole bit NOT NULL CONSTRAINT DF_sysRole_IsAdminRole DEFAULT 0,
	IsVisible bit NOT NULL CONSTRAINT DF_sysRole_IsVisible DEFAULT 1
GO
ALTER TABLE dbo.sysRole SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
