<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JBHR.Properties.Settings.JBHRConnectionString" connectionString="Data Source=192.168.1.12;Initial Catalog=BPBFHR(20210202);Persist Security Info=True;User ID=jb;Password='^Hsx9bu5t@'"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="JBModule.Message.ConnectionString" value="JBHR.Properties.Settings.JBHRConnectionString"/>
	  <add key="JBModule.Data.HrDBConnectionString" value="JBHR.Properties.Settings.JBHRConnectionString"/>
    <add key="HRConnectionString" value="Data Source=jbinstance.database.windows.net;Initial Catalog=HIRATAHR;User ID=hirata_owner;PassWord='w,|?NV6Ca7uLC5?;'"/>    
    <add key="AttDay" value="31"/> <!--出勤結算日-->
    <add key="DayInteval" value="-3"/>    <!--發送問隔天數-->
    <add key="Job" value="'A011'"/>    <!--個人不傳送,依職稱判斷-->
    <add key="TestSubject" value="測試中"/>    <!--在主旨後面加此變數內容-->
    <add key="TestMail" value=""/>    <!--所有的mail傳送到此測試帳號-->
    <add key="JbMail.DataType" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>